[build]
target = "thumbv6m-none-eabi"

[unstable]
build-std = ["core", "compiler_builtins"]

[target.thumbv6m-none-eabi]
runner = "probe-rs run --chip RP2040"

# This is needed for defmt
[env]
DEFMT_LOG = "info"