[build]
target = "thumbv6m-none-eabi"

[unstable]
build-std = ["core", "alloc", "compiler_builtins"]

[target.thumbv6m-none-eabi]
runner = "python scripts/elf2flash_convert.py"

[target.riscv32imc-unknown-none-elf]
runner = "espflash flash --monitor"
rustflags = [
    "-C", "link-arg=-Tmemory-esp32c3.x",
    "-C", "link-arg=-Tlinkall.x",
]

[target.xtensa-esp32s3-none-elf]
runner = "espflash flash --monitor"
rustflags = [
    "-C", "link-arg=-Tmemory-esp32s3.x",
    "-C", "link-arg=-Tlinkall.x",
]

# This is needed for defmt
[env]
DEFMT_LOG = "info"
